<header>
	
	<nav id="main-header">
        <div>
            <a href="/">The Office Supplier</a>
        </div>
		<ul>
			<li>
				<a href="/shop">Shop</a>
			</li>
			<li>
				<a href="/cart">Cart</a>
			</li>
			<li>
				<a href="/signup">Signup</a>
			</li>
			<li>
				<a href="/login">Login</a>
			</li>
			<li>
                <a href="/logout">Logout</a>
            </li>
		</ul>
	</nav>
</header>
